.banner {
  margin-top: 80px;
  width: 100%;
  height: 70vh;
  padding: 0 100px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background: #FAF9FD;
}

.banner__details {
  width: 40vw;
}

.banner__image {
  width: 60vw;
}

.banner__image-cls {
  width: 100%;
  height: auto;
}

.banner__header {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 30px;
}

.banner__text {
  font-size: 1.5rem;
  margin-bottom: 30px;
  font-weight: 500;
}

.banner__button {
  padding: 15px 60px;
  border: none;
  background: #ee434c;
  color: white;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
}

.banner__button:focus {
    outline: none;
}

@media screen and (max-width: 800px) {
  .banner {
    padding: 0 40px;
    height: 60vh;
  }

  .banner__details {
      width: 50vw;
  }
}

@media screen and (max-width: 480px) {
  .banner {
    padding: 70px 20px;
    align-items: flex-end;
    flex-wrap: wrap;
    height: auto;
  }

  .banner__details{
      width: 100vw;
      order: 2;
  }

  .banner__image {
    width: 100%;
  }

  .banner__button {
      width: 100%;
  }
}
